body {
    background-color: black;
    font-family: Verdana; 
    text-align: center;
}

header {
    font-size: 50px;
    font-weight: normal;
    color: white; 
}

.download {
    margin-top: 30px;
}

.download a {
    color: aquamarine; 
    font-size: 16px;
}

#video {
    margin-top: 20px;
}